*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

a{
    text-decoration: none;
    color: #000;
}

/* ==========header========= */
header{
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: lightgray;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-links a{
    margin-left: 25px;
    font-size: 25px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.user{
    display: flex;
    align-items: center;
}

.welcome-msg{
    display: flex;
    text-align: center;
    align-items: center;  
    flex-direction: column;  
    margin: 150px;
}

.btn-overview{
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 50px;
    font-size: 24px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-overview:hover{
    padding: 17px 65px;
}
/* ==========header========= */



/* ==========main========= */

/* ==========main========= */



/* ==========footer========= */
footer{
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: lightgray;
}
/* ==========footer========= */